* {
	box-sizing: border-box;
}

span[class~="sr-only"] {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	width: 1px !important;
	position: absolute !important;
	overflow: hidden !important;
	white-space: nowrap !important;
	padding: 0 !important;
	margin: -1px !important;
}

.position-one {
	margin: 0;
}

#years {
	display: flex;
	justify-content: space-around;
	position: sticky;
	z-index: 999;
	top: 0;
	background: #4caf50;
	color: #000;
	padding: 0.5rem calc(1.25rem + 2px) 0.5rem 0;
	margin: 0 -2px;
}

.year-group {
	align-self: center;
}

.year {
	margin: 0 4rem;
	font-weight: bold;
	font-size: large;
}

.position-two {
	justify-content: flex-start !important;
	padding-left: 2% !important;
}
